@import '../styles/base.scss';

h2.comp-date {
    color: gray;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 0;
}

h1.comp-name {
    margin-top: 0;
}

.panel {
    .division-selector {
        fieldset {
            border-radius: 5px;
            max-width: 100%;
        }

        input {
            display: inline-block;
            transform: scale(1.5);
        }

        label {
            padding: 5px 0px 5px 0px;
            display: block;
        }
    }

    .liveresults {
        a {
            text-decoration: none;
            text-align: center;
            padding: 20px;
            color: white;
            background-color: orangered;
            border-radius: 5px;
            display: block;
            max-width: 100%;
        }
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }
}