table.link-table {
    --vpad: 7px;
    --hpad: 10px;

    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;

    thead, tbody {
        th {
            text-align: left;
            padding: var(--vpad) var(--hpad) var(--vpad) var(--hpad);
        }
    
        td {
            padding: 0;
        }
    
        tr.header {
            border-bottom: 1px solid black;
        }
    
        tr.content:last-child {
            border-bottom: 1px solid black;
        }
    
        tr.content:nth-child(even) {
            background-color: lightgray;
        }
    
        @media (pointer: fine) {
                tr.content:hover {
                background-color: lightblue;
                cursor: pointer;
            }
        }
    
        a {
            text-decoration: none;
            color: black;
            display: block;
            padding: var(--vpad) var(--hpad) var(--vpad) var(--hpad);
        }
    }
}